@import 'reset.css';

body {
	font-family: 'Grenze', serif;

}
.wrapper {
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column;
}
.content{
	flex: 1 1 auto;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0px 5px;
}
@media(max-width:1200px) {
	.container{
		max-width: 100%;
	}
}
@media(max-width:992px) {
	.container{
		max-width: 100%;
	}
}
@media(max-width:767px) {
	.container{
		max-width: 100%;
	}
}

.header-nav-list { 
	background-color: #AAF4F4;
	list-style: none;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	border: 2px solid #aaa;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
}

.header-nav-item {
	position: relative;
	display: inline-block;
}
.dropdown-list {
	display: none;
	width: 177px;
	position: absolute;
	list-style: none;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
	background-color: #AAF4F4;
	padding: 5px;
	border: 2px solid #aaa;
	border-radius: 5px;
	margin: 0px 0px 15px 0px;
}
.header-nav-item:hover .dropdown-list{
	display: block;
}

.header-nav-link {
	text-decoration: none;
	font-size: 25px;
	transition-property: color;
	transition-duration: .5s;
	transition-delay: .5s;
	transition-timing-function: ease-in;
}

.header-nav-link.active {
	text-decoration: underline;
}

.header-nav-link:hover {
	color: #10e6cc;
}

.title {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin: 0px 0px 10px 0px;
}
@media(max-width:992px) {
	.title{
		font-size: 30px;
		margin: 0px 0px 5px 0px;
	}
}
@media(max-width:767px) {
	.title{
		font-size: 20px;
		margin: 0px 0px 5px 0px;
	}
}

.subtitle {
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin: 0px 0px 10px 0px;
}
@media(max-width:992px){
	.subtitle{
		font-size: 22px;
	}
}
@media(max-width:767px){
	.subtitle{
		font-size: 16px;
	}
}

.reviews {
	padding: 4px 12px;
	background-color: antiquewhite;
	border: 2px solid #aaa;
	border-radius: 5px;
	font-size: 24px;
	margin: 0px 0px 15px 0px;
	font-style: italic;
	text-align: center;
	animation-name: colorchange;
	animation-duration: 5s;
}
@media(max-width:992px){
	.reviews{
		font-size: 20px;
	}
}
@media(max-width:767px){
	.reviews{
		font-size: 16px;
	}
}

.footer{
}
.footer__row {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: #cc9f9f;
	border-radius: 5px;
	margin: 0px 0px 10px 0px;
}
.footer__text{
	font-size: 20px;
	letter-spacing: 0.3px;
	color: #fff;
}
/* ----------------------- */
.item {
	border: 2px solid #aaa;
	border-radius: 5px;
	padding: 15px;
	margin: 0px 0px 15px 0px;
}
.item__column {
	display: flex;
	flex-direction: column;
}
.item__definition {
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
}
/* .item__rules {
	font-size: 24px;
} */
.item__example {
	width: fit-content;
	font-size: 22px;
	border: 2px solid #aaa;
	border-radius: 5px;
	background-color: #C4FFCC;
}
.item__text {
	font-size: 22px;

}
.item__text p {
	font-size: 22px;
	line-height: 40px;
	margin: 0;
}
em {
	border: 2px solid #aaa;
	border-radius: 5px;
	padding: 0 3px;
}
em:hover {
	cursor: pointer;
	top: 2px;
	box-shadow: 0 3px 0px #3c354a;
	background-color: #e7eb1c;
	transition-duration: 2s;
	/*transition-delay: 2s;*/
}

span {
	color: #00f;
}

/*customize the label as the container*/
.radio-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 20px;
	user-select: none; /*???*/
}

/*hide the browser's default radio button*/
.radio-container input {
	position: absolute;
	opacity: 0;
}

/*a custom radio button*/
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
	background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
	background-color: #ff6347;
}

.checkmark:after {
	content: ""; /*???*/
	position: absolute;
	display: none;
}

.radio-container input:checked ~ .checkmark:after {
	display: block;
}

/*style the indicator dot/circle*/
.radio-container .checkmark:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8px;
	height:8px;
	border-radius: 50%;
	background: #000;
}

.question {
	color: red;
}

.answer {
	color: green;
}

.reviews {
	
}

@keyframes colorchange {
	0% {background-color: #baebd8;}
	50% {background-color: #baebd9;}
	100% {background-color: #baebd7;}
}

.set_sb_up {
	font-size: 22px;
}

/* @media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
} */
