body{
	font-family: 'Grenze', serif;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.container {
	max-width: 100%;
	margin: 0 auto;
}
.header-nav {
}
.header-nav-list {
	background-color: #AAF4F4;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
	border: 2px solid #aaa;
	border-radius: 5px;
}
.header-nav-item {
	position: relative;
	display: inline-block;
	/*display: inline;*/
	/*margin-right: 40px;*/
	/*display: flex;*/
	/*justify-content: space-between;*/
}
.header-nav-link {
	text-decoration: none;
	font-size: 25px;
	transition-property: color;
	transition-duration: .5s;
	transition-delay: .5s;
	transition-timing-function: ease-in;
}
.active {
	text-decoration: underline;
}
.dropdown-list {
	display: none;
	width: 177px;
	position: absolute;
	list-style: none;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
	background-color: #AAF4F4;
	padding: 0;
	border: 2px solid #aaa;
	border-radius: 5px;
}
.dropdown-item {
}
.dropdown-link {
}
.idioms-item {
}
.idioms-link {
}
.title {
}
.subtitle {
}
.reviews {
}
